<h1>Welcome to your Skin Shelf!</h1>
<br>
<h3>Most popular products across all users:</h3>
<% @products.each do |p| %>
    <%= p.name %>
<% end %>
<br>
<h3>Search our product database:</h3>
<% @products.each do |p| %>
    <%= p.name %>
<% end %>
