<h1>Welcome to your Skin Shelf!</h1>
<% if user_signed_in? %>
    <h3>Check out your routines and products at the links above...</h3>
<% else %>
    <h3>Click on the links above to get started...</h3>
<% end %>
<h3><i>Fun Fact: The <%= @popular_product.keys[0] %> is the most popular product across all users!! </i></h3>
